<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>
    <menuitem id="wvse_health_root" name="Odoo Health" sequence="10" groups="wvse_odoo_health_monitor.group_wvse_health_user"/>

    <menuitem id="wvse_health_menu_dashboard" name="Dashboard" parent="wvse_health_root" action="wvse_health_run_action_kanban" sequence="10"/>
    <menuitem id="wvse_health_menu_runs" name="Runs" parent="wvse_health_root" action="wvse_health_run_action" sequence="20"/>
    <menuitem id="wvse_health_menu_issues" name="Issues" parent="wvse_health_root" action="wvse_health_issue_action" sequence="30"/>

    <menuitem id="wvse_health_menu_settings" name="Settings" parent="wvse_health_root" action="wvse_health_settings_action" sequence="90" groups="wvse_odoo_health_monitor.group_wvse_health_manager"/>
  </data>
</odoo>
